In [59]:
import pandas as pd

# Pandas has two datatypes i.e. Series (arrays) and DataFrame (tables)
## # Series

In [60]:
import pandas as pd

cars = pd.Series(['BMW', 'Toyata', 'Honda'])
colors = pd.Series(['Red', 'Blue', 'White'])
cars
colors

0      Red
1     Blue
2    White
dtype: object

## # DataFrame

In [61]:
carData = pd.DataFrame({
  'Car Make': ['BMW', 'Toyata', 'Honda'], 
  'Color': ['Red', 'Blue', 'White']
})
carData

  Car Make  Color
0      BMW    Red
1   Toyata   Blue
2    Honda  White

In [62]:
carData2 = pd.DataFrame({'Car Make': cars, 'Color': colors})
carData2

  Car Make  Color
0      BMW    Red
1   Toyata   Blue
2    Honda  White