In [80]:
import pandas as pd

# Pandas has two datatypes i.e. Series (arrays) and DataFrame (tables)
## # Series

In [81]:
import pandas as pd

cars = pd.Series(['BMW', 'Toyata', 'Honda'])
colors = pd.Series(['Red', 'Blue', 'White'])
cars
colors

0      Red
1     Blue
2    White
dtype: object

## # DataFrame

In [82]:
carData = pd.DataFrame({
  'Car Make': ['BMW', 'Toyata', 'Honda'], 
  'Color': ['Red', 'Blue', 'White']
})
carData

  Car Make  Color
0      BMW    Red
1   Toyata   Blue
2    Honda  White

In [83]:
carData2 = pd.DataFrame({'Car Make': cars, 'Color': colors})
carData2

  Car Make  Color
0      BMW    Red
1   Toyata   Blue
2    Honda  White

In [84]:
carData3 = pd.read_csv('../_resources/car-sales.csv')
carData3

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00